.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #87CEEB; /* Mario sky blue background */
  padding: 20px; /* Reduced padding */
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 1300px; /* Set the video to a max width of 1400px */
  border: 10px solid #ffcc00; /* Matching the main invitation style */
  border-radius: 10px;
  overflow: hidden;
  background-color: #ff69b4; /* Pink background similar to Princess Peach's color in Mario games */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.cover-video {
  width: 100%;
  height: auto;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-10%, -10%);
  background-color: #ffcc00;
  color: #ffffff;
  border: 4px solid #ff6600;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 3px 3px #ff6600;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 10; /* Ensure the button is above the video */
}

.play-button:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px #ff3300;
}

.play-button:active {
  transform: scale(1.05);
  box-shadow: 2px 2px #ff3300;
}

.details-below-video {
  margin-top: 20px;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.entry-button {
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  padding: 15px 30px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px #000000;
}

.entry-button:hover {
  background-color: #cc0000;
}


@media (max-width: 1000px) {
.play-button {
  font-size: 20px;
  top: 45%;
  left: 45%;
  padding: 8px;
  border: 3px solid #ff6600;
}

.entry-container {
  padding: 0px;
}

.video-wrapper {
  border: 4px solid #ffcc00; /* Matching the main invitation style */
}
}

@media (max-width: 600px) {
  .play-button {
    font-size: 16px;
    left: 44%;
   border: 2px solid #ff6600;
  }
 }